$breakpoints: (
    // Phones
    phone: 400px,
    // Slightly Larger Phones
    thone: 500px,
    // Obnoxiously Large Phones
    phablet: 600px,
    // Tablets
    tablet: 1080px,
    // Desktops
    desktop: 1200px,
    // Large Desktops
    desktophd: 1000px
);

@mixin breakpoint($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    } @else {
        // Log a warning.
        @warn "Invalid breakpoint: #{$breakpoint}.";
    }
}
