.body {
    max-width: 50ch;
    font-size: 20px;
    widows: 3;
    orphans: 3;
    font-weight: 300;
}

.section {
    margin-bottom: 5rem;
}

.section-title {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.15rem;
    // color: #656565;
    text-transform: lowercase;
}

.link {
    color: gray;
    font-size: 16px;
}

.center-text {
    text-align: center;
}
