.body {
    max-width: 50ch;
    font-size: 20px;
    widows: 3;
    orphans: 3;
    font-weight: 300;
}

.section {
    margin-bottom: 5rem;
}

@mixin section-title {
    margin-bottom: $spacing-md;
    font-weight: 500;
    font-size: 1rem;
    // color: #656565;
    text-transform: lowercase;

    @include breakpoint(md) {
        font-size: 1.15rem;
    }
}

@mixin section-subtitle {
    font-weight: 500;
    margin-bottom: $spacing-sm;
    font-size: 0.75rem;
    // font-family: monospace;

    // &::before,
    // &::after {
    //   color: #ebebeb;
    // }

    // &::before {
    //   content: "<";
    //   margin-right: 0.25em;
    // }
    // &::after {
    //   content: "/>";
    //   margin-left: 0.25em;
    // }
}

@mixin highlight-link {
    color: #5282fd;
    font-weight: 400;
}

.section-title {
    @include section-title;
}

.section-subtitle {
    @include section-subtitle;
}

.link {
    color: gray;
    font-size: 16px;
}

.highlight-link {
    @include highlight-link;
}

.center-text {
    text-align: center;
}
