.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 $spacing-sm;

    @include breakpoint(xs) {
        max-width: 100%;
        // padding: 0 1rem;
    }

    @include breakpoint(sm) {
        max-width: 100%;
        // padding: 0 1.5rem;
        // padding: 0;
    }

    @include breakpoint(md) {
        max-width: map-get($breakpoints, md);
        padding: 0 $spacing-md;
        // padding: 0;
    }

    @include breakpoint(lg) {
        max-width: map-get($breakpoints, lg);
    }

    @include breakpoint(xl) {
        max-width: map-get($breakpoints, xl);
    }
}
