---
import { getCollection, getEntryBySlug } from "astro:content";
import Tree from "~/components/project/Tree.astro";

import Layout from "~/layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((x) => ({ params: { project: x.slug } }));
}

const { project: projectSlug } = Astro.params;

const project = await getEntryBySlug("projects", projectSlug);

const { Content } = await project.render();
---

<Layout title="Project Page">
  <article class="portoflio:article">
    <h1>{project.data.title}</h1>
    <div class="stack">
      {project.data.stack ? <Tree tree={project.data.stack} /> : null}
    </div>
    <Content />
  </article>
</Layout>

<style lang="scss" is:global>
  .portoflio\:article {
    font-size: 20px;
    font-weight: 300;

    h1 {
      font-size: 2rem;
      font-weight: normal;
    }

    h2 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: normal;
      text-transform: lowercase;

      &:not(:first-of-type) {
        margin-top: 4rem;
      }
    }
    p {
      // font-size: 20px;
      // font-weight: 300;
      margin-bottom: 1rem;
      max-width: 50ch;
    }
  }
</style>

<style lang="scss">
  .stack {
    margin-bottom: 4rem;
  }
</style>
