---
export interface Props {
  label?: string;
}

const { label } = Astro.props;
---

<div class="bar">
  <slot />
</div>

<style>
  .bar {
    width: 100%;
    position: sticky;
    top: 1rem;
    background-color: rgba(226, 226, 226, 0.391);
    backdrop-filter: blur(10px);
    padding: 0.5rem 1rem;
    font-size: 0.65rem;
    border-radius: 5rem;
  }
</style>
