---
import { getCollection, getEntryBySlug } from "astro:content";
import { Image } from "@astrojs/image/components";

import lt from "~/assets/icons/lt.svg";
import q5 from "~/assets/icons/q5.svg";
---

<section class="section has-icon" data-icon="work">
  <h2 class="section-title">My Roles</h2>
  <div class="posiitons">
    <article class="position">
      <header>
        <!-- <img src={lt.src} alt="" class="logo" /> -->
        <Image src={lt} alt="Learning Technologies Logo" class="logo" />
        <div class="titles">
          <h3 class="section-subtitle">VCH</h3>
          <span class="details">Programmer + Analyst</span>
        </div>
      </header>

      <p class="body vch">
        I currently work on <a
          class="highlight-link"
          href="https://www.vch.ca/"
          target="_blank">Vancouver Coastal Health's</a
        > Learning Technologies team. There, I implement both patient and clinician-facing
        web experiences.
      </p>
    </article>
    <article class="position">
      <header>
        <!-- <img src={q5.src} alt="" class="logo" /> -->
        <Image src={q5} alt="Learning Technologies Logo" class="logo" />
        <div class="titles">
          <h3 class="section-subtitle">Q5</h3>
          <span class="details">Web Developer + Designer</span>
        </div>
      </header>
      <p class="body">
        I also run a freelance web development consulatancy where we focus on
        small businesses. Need a website? <a
          href="https://q-5.ca"
          target="_blank"
          class="highlight-link">Check us out!</a
        >
      </p>
    </article>
  </div>
</section>

<style lang="scss">
  // .vch {
  //   margin-bottom: 2rem;
  // }

  .posiitons {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;

    @include breakpoint(lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .position {
    .body {
      font-size: 16px;
      // font-weight: normal;
    }
    header {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 1rem;

      .titles {
        display: flex;
        flex-direction: column;
      }

      .section-subtitle {
        margin-bottom: 0.15rem;
      }

      .details {
        font-weight: 400;
        color: gray;
        font-size: 16px;
      }
    }

    .logo {
      height: 1.3em;
      width: auto;
    }
  }
</style>
