---
import LinkButton from "../global/LinkButton.astro";

import github from "../../assets/icons/github.svg";
import linkedin from "../../assets/icons/linkedin.svg";
import mail from "../../assets/icons/mail.svg";
---

<section class="section has-icon" data-icon="logo">
  <p class="body bio">
    I am a Vancouver-based full stack developer who brings clean and intuitive
    interfaces to life on the web. I add value and delight to digital
    experiences using reactive frameworks, serverless models, and sometimes
    plain old {"<html>"}.
  </p>

  <ul class="contact-links">
    <li>
      <LinkButton
        label="github"
        url="https://github.com/stuible"
        icon={github}
      />
    </li>
    <li>
      <LinkButton
        label="linkedin"
        url="https://www.linkedin.com/in/stuible/"
        icon={linkedin}
      />
    </li>
    <li>
      <LinkButton
        label="josh@stuible.com"
        url="mailto:josh@stuible.com"
        icon={mail}
      />
    </li>
  </ul>
</section>

<style lang="scss">
  .contact-links {
    display: flex;
    gap: $spacing-sm;
    flex-wrap: wrap;
    margin-bottom: $spacing-md;
  }
  .bio {
    margin-bottom: $spacing-md;
  }
</style>
