---
import { getCollection, getEntryBySlug } from "astro:content";

import ProjectsGrid from "~/components/project/ProjectsGrid.astro";

const projects = await getCollection(
  "projects",
  ({ data }) => data.featured === true && data.enabled
);
---

<section class="section">
  <h2 class="section-title has-icon" data-icon="logo">Projects</h2>
  <ProjectsGrid projects={projects} />
  <div class="center-text">
    <a class="link" href="/projects">View all projects</a>
  </div>
</section>

<style lang="scss"></style>
