---
import { getCollection, getEntryBySlug } from "astro:content";

const projects = await getCollection("projects");
---

<section class="section">
  <table>
    <!-- <caption>Statement Summary</caption> -->
    <thead>
      <tr>
        <th scope="col">Icon</th>
        <th scope="col">Project Name</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      {
        projects.map((project, index) => (
          <tr>
            <td data-label="Icon">
              <img class="icon" src="/homehealth.svg" alt="Logo" />
            </td>
            <td data-label="Title">
              <a href={`/${project.slug}`}>
                <div class="title">{project.data.title}</div>
                <div class="subtitle">{project.data.subtitle}</div>
              </a>
            </td>
            <td data-label="Tags">Tags {index}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</section>

<style lang="scss">
  table {
    width: 100%;
    border-spacing: 0 1em;
  }
  th {
    text-align: left;
    padding-right: 1em;
  }
  tr {
    // padding-bottom: 1rem;
  }
  .icon {
    height: 1em;
  }
  .title {
    margin-bottom: 0.25rem;
    text-transform: lowercase;
  }
  .subtitle {
    font-size: 0.75em;
  }
</style>
