---
import { getEntries, type CollectionEntry } from "astro:content";

import ProjectsGrid from "~/components/project/ProjectsGrid.astro";

type SlugOptions = CollectionEntry<"projects">["slug"];

const projectSlugs: SlugOptions[] = [
  "ed-wait-times",
  // "cymhsu",
  "dtes",
  "richmond-birth-centre",
  "roar",
];

const projects = await getEntries(
  projectSlugs.map((slug) => ({ collection: "projects", slug: slug }))
);
---

<section class="section">
  <h2 class="section-title has-icon" data-icon="logo">Projects</h2>
  <ProjectsGrid projects={projects} />
  <div class="center-text">
    <a class="link" href="/projects">View all projects</a>
  </div>
</section>

<style lang="scss"></style>
