---
import { getCollection } from "astro:content";

const skills = await getCollection("skills");
const techs = await getCollection("tech");
---

<section class="section has-icon" data-icon="skills">
  <!-- Skills -->
  <h2 class="section-title">What I Do</h2>
  <ol class="skills">
    {
      skills.map((skill) => (
        <li>
          <h3>{skill.data.title}</h3>
        </li>
      ))
    }
  </ol>
</section>
<section class="section has-icon" data-icon="tech">
  <!-- Tech -->
  <h2 class="section-title">Stuff I Use</h2>
  <ol class="tech">
    {
      techs.map((tech) => (
        <li>
          <!-- <img class="logo" src="/jslogo.svg" alt="" /> -->
          <h3>{tech.data.title}</h3>
        </li>
      ))
    }
  </ol>
</section>

<style lang="scss">
  section {
    // display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;

    h3 {
      font-size: 0.7rem;
      font-weight: normal;
    }
  }

  .tech {
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;

    li {
      display: flex;
      gap: 1rem;
    }

    .logo {
      height: 1em;
    }

    h3 {
      font-size: 0.7rem;
      font-weight: normal;
    }
  }
</style>
