---
import { getCollection, getEntry } from "astro:content";
import Tech from "./Tech.vue";

const skillIcons = Object.values(
  import.meta.glob("~/assets/icons/*.svg", { eager: true })
).map((x: any) => x.default.src);

const {
  data: { tech },
} = await getEntry("categories", "tech");

const techWithIcons = await Promise.all(
  await tech
    // Don'y show some of the tech on landing page
    .filter((item) => !["keystone"].includes(item.slug))
    // Add icons to tech
    .map(async (item) => {
      return {
        ...item,

        icon: skillIcons.find((x) => x.includes(item.icon)),
      };
    })
);
---

<section class="section has-icon" data-icon="skills">
  <h2 class="section-title">My Focus</h2>
  <p class="body">
    With knowledge spanning the full stack, my goal is to never stand still as I
    look to the future of web developement. I'm currently using JavaScript
    (TypeScript) on both the backend and frontend but I'll always have a soft
    spot for PHP.
  </p>

  <h3 class="section-subtitle">Skills</h3>
  <Tech techWithIcons={techWithIcons} client:visible />
</section>

<style lang="scss">
  section {
    // display: grid;
    grid-template-columns: 2fr 3fr;
    > .body {
      margin-bottom: 2rem;
    }
  }
</style>
