---
import "~/assets/scss/_base.scss";

import HoverLabel from "../components/global/HoverLabel.astro";

import Sidebar from "../components/layout/Sidebar.vue";

export interface Props {
  title: string;
  noTopPadding?: boolean;
}

const { title, noTopPadding = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container layout-container">
      <!-- Left -->
      <div class="left">
        <Sidebar client:idle />
      </div>
      <!-- Center -->
      <div class="center">
        <header class="has-icon" data-icon="logo">
          <a href="/">josh stuible</a>
        </header>
        <main class={noTopPadding ? "no-top-padding" : ""}>
          <slot />
        </main>

        <footer>
          <!-- design + implementation by -->
          <!-- <span>Josh Stuible</span> -->
          <p>
            <span class="credits">design + implementation by</span>

            <HoverLabel label="Josh Stuible">
              <img src="/logo-sideways.svg" alt="Josh Stuible" class="logo" />
            </HoverLabel>
            <!-- <span class="label">Josh Stuible</span> -->
            in
            <!-- <span>Vancouver</span> -->
            <HoverLabel label="Vancouver">
              <img src="/logo-umbrella.svg" alt="Vancouver" class="umbrella" />
            </HoverLabel>
            <!-- <span class="label">Vancouver</span> -->
          </p>
        </footer>
      </div>
      <!-- Right -->
      <div class="right"></div>
    </div>
  </body>
</html>

<style is:global lang="scss"></style>

<style lang="scss">
  .layout-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 2rem;

    @include breakpoint(xl) {
      grid-template-columns: 3rem auto 3rem;
    }

    // @include breakpoint(desktophd) {
    //   grid-template-columns: 4rem auto 4rem;
    // }
  }
  $top-padding: 7rem;
  .left {
    top: 0;
    padding-top: 2rem;

    @include breakpoint(xl) {
      padding-top: $top-padding;
      position: sticky;
    }
  }
  .center {
    // width: 100%;
  }

  header {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.25rem;

    @include breakpoint(xl) {
      padding-top: calc(#{$top-padding} + 20px);
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: lowercase;
    margin-bottom: 2rem;
    // img {
    //   height: 0.8em;
    //   // margin-right: 1em;
    // }
  }
  main {
    padding: 4rem 0;

    &.no-top-padding {
      padding-top: 0;
    }
  }
  footer {
    // display: flex;
    align-items: center;
    padding-bottom: 4rem;
    p {
      // line-height: 2em;
      font-size: 0.75rem;
    }
    .credits {
      margin-bottom: 1.5rem;
      display: inline-block;
    }
    .image {
      display: inline-flex;
      // width: 4em;
    }
    img {
      height: 1em;
      // transform: rotate(-45deg);
      margin: 0 0.5em;

      &.logo {
        height: 0.65em;
      }
      &.umbrella {
        height: 0.45em;
      }
    }
    // .label {
    //   font-size: 0.75em;
    //   margin-left: 1rem;
    //   text-transform: lowercase;
    // }
  }
</style>
