---
import "~/assets/scss/_base.scss";

import { SEO } from "astro-seo";
import { Image } from "astro:assets";

import Sidebar from "../components/layout/Sidebar.vue";
import Bar from "../components/layout/Bar.astro";
import Tooltip from "~/components/global/Tooltip.vue";

export interface Props {
  title?: string;
  description?: string;
  noTopPadding?: boolean;
  h1Title?: boolean;
  ogImage?: string;
}

const {
  title: titleProp,
  h1Title = false,
  noTopPadding = false,
  description,
  ogImage,
} = Astro.props;

const title = (titleProp ? `${titleProp} - ` : "") + "Josh Stuible";

const TitleWrapper = h1Title ? "h1" : "div";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      canonical={import.meta.env.SITE_URL + Astro.url.pathname}
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: ogImage ?? import.meta.env.SITE_URL + "/og.png",
          url: import.meta.env.SITE_URL + Astro.url.pathname,
        },
        optional: {
          description: description,
        },
      }}
      twitter={{
        creator: "@joshstuible",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: ogImage ?? import.meta.env.SITE_URL + "/og.png",
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <script
      defer
      data-domain="possible.stuible.cloud"
      src="https://possible.stuible.cloud/js/script.js"></script>
  </head>
  <body>
    <script>
      addEventListener("load", () => {
        document.documentElement.style.setProperty("scroll-behavior", "smooth");
      });
    </script>
    <div class="container layout-container">
      {/* Left */}
      <div class="left">
        <Sidebar client:media="(min-width: 1100px)" />
      </div>
      {/* Center */}
      <div class="center">
        {/* <Bar>Need a website? Check out Q5, my freelancing company</Bar> */}
        <header class="has-icon" data-icon="logo">
          <TitleWrapper class="section-title">
            <a href="/">Josh Stuible</a>
          </TitleWrapper>
        </header>
        <main class={noTopPadding ? "no-top-padding" : ""}>
          <slot />
        </main>

        <footer>
          <div class="blurb">
            <span class="credits">design + implementation&nbsp;</span>
            <div class="attribution">
              by
              <Tooltip
                client:visible
                aria-id="footer-js-logo"
                distance={15}
                triggers={["hover", "focus", "touch"]}
              >
                <div class="image">
                  <Image
                    src={import("~/../public/logo-sideways.svg")}
                    alt="Josh Stuible"
                    class="logo"
                  />
                </div>
                <div slot="popper">Josh Stuible</div>
              </Tooltip>
              in
              <Tooltip
                client:visible
                aria-id="footer-vancouver"
                distance={15}
                triggers={["hover", "focus", "touch"]}
              >
                <div class="image">
                  <Image
                    src={import("~/../public/logo-umbrella.svg")}
                    alt="Vancouver"
                    class="umbrella"
                  />
                </div>
                <div slot="popper">Vancouver</div>
              </Tooltip>
            </div>
          </div>
        </footer>
      </div>
      {/* Right */}
      <div class="right"></div>
    </div>
    <style is:global lang="scss"></style>

    <style lang="scss">
      .layout-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        gap: $spacing-md;

        @include breakpoint(xl) {
          grid-template-columns: 3rem auto 3rem;
        }
      }
      $top-padding: 7rem;
      .left {
        top: 0;
        padding-top: $spacing-md;

        @include breakpoint(xl) {
          padding-top: $top-padding;
          position: sticky;
        }
      }
      .center {
        // width: 100%;
      }

      header {
        @include breakpoint(xl) {
          padding-top: calc(#{$top-padding} + 24px);
        }
      }

      h1 {
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: lowercase;
        margin-bottom: $spacing-md;
      }
      main {
        padding: $spacing-md 0 $spacing-lg 0;

        &.no-top-padding {
          padding-top: 0;
        }
      }
      footer {
        align-items: center;
        padding-bottom: $spacing-lg;
        font-weight: 500;
        line-height: 1em;

        .blurb {
          font-size: 0.5rem;
          display: flex;
          flex-wrap: wrap;

          @include breakpoint(sm) {
            font-size: 0.5rem;
          }

          @include breakpoint(md) {
            font-size: 0.6rem;
          }
        }
        .attribution {
          display: flex;
        }
        .credits {
          display: inline-block;
        }
        .image {
          display: flex;
          padding: 0.25em 0.75em;
          height: 100%;
        }
        img {
          height: auto;

          &.logo {
            margin-top: 3px;
            width: 43px;
          }
          &.umbrella {
            width: 50px;
          }
        }
      }
    </style>
  </body>
</html>
