---
import "~/assets/scss/_base.scss";

import HoverLabel from "../components/global/HoverLabel.astro";

import Sidebar from "../components/layout/Sidebar.vue";
import Bar from "../components/layout/Bar.astro";

export interface Props {
  title: string;
  noTopPadding?: boolean;
}

const { title, noTopPadding = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container layout-container">
      {/* Left */}
      <div class="left">
        <Sidebar client:idle />
      </div>
      {/* Center */}
      <div class="center">
        {/* <Bar>Need a website? Check out Q5, my freelancing company</Bar> */}
        <header class="has-icon" data-icon="logo">
          <div class="section-title">
            <a href="/">josh stuible</a>
          </div>
        </header>
        <main class={noTopPadding ? "no-top-padding" : ""}>
          <slot />
        </main>

        <footer>
          <div class="blurb">
            <span class="credits">design + implementation&nbsp;</span>
            <span>
              by
              <HoverLabel label="Josh Stuible">
                <span class="image">
                  <img
                    src="/logo-sideways.svg"
                    alt="Josh Stuible"
                    class="logo"
                  />
                </span>
              </HoverLabel>
              in
              <HoverLabel label="Vancouver">
                <span class="image">
                  <img
                    src="/logo-umbrella.svg"
                    alt="Vancouver"
                    class="umbrella"
                  />
                </span>
              </HoverLabel>
            </span>
          </div>
        </footer>
      </div>
      {/* Right */}
      <div class="right"></div>
    </div>
  </body>
</html>

<style is:global lang="scss"></style>

<style lang="scss">
  .layout-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 2rem;

    @include breakpoint(xl) {
      grid-template-columns: 3rem auto 3rem;
    }

    // @include breakpoint(desktophd) {
    //   grid-template-columns: 4rem auto 4rem;
    // }
  }
  $top-padding: 7rem;
  .left {
    top: 0;
    padding-top: 2rem;

    @include breakpoint(xl) {
      padding-top: $top-padding;
      position: sticky;
    }
  }
  .center {
    // width: 100%;
  }

  header {
    @include breakpoint(xl) {
      // $top-padding: 5rem;
      padding-top: calc(#{$top-padding} + 20px);
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: lowercase;
    margin-bottom: 2rem;
    // img {
    //   height: 0.8em;
    //   // margin-right: 1em;
    // }
  }
  main {
    padding: 2rem 0 4rem 0;

    &.no-top-padding {
      padding-top: 0;
    }
  }
  footer {
    // opacity: 0.5;
    // display: flex;
    align-items: center;
    padding-bottom: 4rem;
    font-weight: 500;
    line-height: 1em;

    .blurb {
      // line-height: 2em;
      font-size: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      // transform: rotate(-90deg);x

      @include breakpoint(sm) {
        font-size: 0.5rem;
      }

      @include breakpoint(md) {
        font-size: 0.6rem;
      }
    }
    .credits {
      display: inline-block;
    }
    .image {
      display: inline-flex;

      // justify-items: center;
      // width: 4em;
    }
    img {
      height: 1em;
      // transform: rotate(-45deg);
      margin: 0 0.5em;

      &.logo {
        // height: 0.65em;
        width: 43px;
      }
      &.umbrella {
        // height: 0.4em;
        width: 50px;
      }
    }
    // .label {
    //   font-size: 0.75em;
    //   margin-left: 1rem;
    //   text-transform: lowercase;
    // }
  }
</style>
