---
export interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span class="hover-label">
  <span class="label">( {label} )</span>
  <slot />
</span>

<style lang="scss">
  .hover-label {
    position: relative;

    &:hover {
      .label {
        opacity: 1;
        top: calc(-100% - 0.5em);
      }
    }
  }
  .label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    width: max-content;
    transition: opacity 0.25s ease, top 0.25s ease;
    font-size: 0.75em;
    display: inline-block;
  }
</style>
